@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

.map-dark .leaflet-layer,
.map-dark .leaflet-control-zoom-in,
.map-dark .leaflet-control-zoom-out,
.map-dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.map-home .leaflet-layer,
.map-home .leaflet-control-zoom-in,
.map-home .leaflet-control-zoom-out,
.map-home .leaflet-control-attribution {
  filter: brightness(70%) contrast(100%);
}